<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${userList}"></p>
<!--<table>-->
<!--    <thead >-->
<!--    <tr>用户id</tr>-->
<!--    <tr>用户名字</tr>-->
<!--    <tr>第几个</tr>-->
<!--    <tr>脚标</tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="v,stat:${userList}">-->
<!--        <td th:text="${v.id}"></td>-->
<!--        <td th:text="${v.name}"></td>-->
<!--        <td th:text="${stat.count}"></td>-->
<!--        <td th:text="${stat.index}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>